.logo__dot {
  position: absolute;
  bottom: 47%;
  right: 39%;
  z-index: 1;
  width: 80px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .logo__dot {
    bottom: 45%;
    right: 42%;
    width: 100px;
  }
}
@media screen and (min-width: 993px) {
  .logo__dot {
    border: 1px solid black;
    border-radius: 50%;
    width: 302px;
    height: 302px;
    position: absolute;
    bottom: 44%;
    right: 35%;
  }
}
.logo__dot img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 80%;
}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .logo__dot img {
    width: 100%;
  }
}
@media screen and (min-width: 993px) {
  .logo__dot img {
    width: 180px;
  }
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50px;
  border: 1px solid #46b1de;
  background-color: #46b1de;
  color: #ffffff;
  font-family: "SofiaSans";
  text-align: center;
  position: absolute;
  z-index: 2;
}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .dot {
    width: 16px;
    height: 16px;
  }
}
@media screen and (min-width: 993px) {
  .dot {
    width: 24px;
    height: 24px;
    font-size: 18px;
    line-height: 25px;
  }
}

.dot__1 {
  bottom: 86%;
  right: 73%;
}
@media screen and (min-width: 993px) {
  .dot__1 {
    bottom: 86%;
    right: 79%;
  }
}

.dot__2 {
  bottom: 86%;
  right: 13%;
}
@media screen and (min-width: 993px) {
  .dot__2 {
    bottom: 86%;
    right: 16%;
  }
}

.dot__3 {
  bottom: 45%;
  right: 92%;
}
@media screen and (min-width: 993px) {
  .dot__3 {
    bottom: 45%;
    right: 96%;
  }
}

.dot__4 {
  bottom: 45%;
  right: -9%;
}
@media screen and (min-width: 993px) {
  .dot__4 {
    bottom: 45%;
    right: -4%;
  }
}

.dot__5 {
  bottom: 6%;
  right: 73%;
}
@media screen and (min-width: 993px) {
  .dot__5 {
    bottom: 9%;
    right: 79%;
  }
}

.dot__6 {
  bottom: 6%;
  right: 13%;
}
@media screen and (min-width: 993px) {
  .dot__6 {
    bottom: 9%;
    right: 16%;
  }
}

@media screen and (min-width: 993px) {
  .dot__animation {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 302px;
    height: 302px;
    animation-delay: 3s;
    animation-name: dot__animation;
    animation-duration: 1s;
  }
}
@keyframes dot__animation {
  from {
    bottom: 45%;
    right: 45%;
    width: 0;
    height: 0;
  }
  to {
    bottom: 0;
    right: 0;
    width: 302px;
    height: 302px;
  }
}